* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Foundation tokens */
:root {
    /* Colors */
    --color-white: #F5F5F5;
    --color-grey: #808080;
    --color-grey2: #2C2C2C;
    --color-black: #1C1C1C;
    /* Sizes */
    --size-large: 3em;
    --size-medium: 2em;
    --size-small: 1em;
    --size-xsmall: 0.5em;
    /* Border Widths */
    --border-width-large: 0.25em;
    --border-width-medium: 0.125em;
    --border-width-small: 0.0625em;
    --border-width-xsmall: 0.03125em;
    --border-width-none: 0em;
    /* Border Radii */
    --border-radius-xlarge: 1em;
    --border-radius-large: 0.75em;
    --border-radius-medium: 0.5em;
    --border-radius-small: 0.25em;
    --border-radius-none: 0em;
    /* Font Families */
    --font-family-default: "Monaco", monospace;
    /* Font Sizes */
    --font-size-large: 3em;
    --font-size-medium: 2em;
    --font-size-small: 1em;
    --font-size-xsmall: 0.5em;
    /* Font Weights */
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-regular: 500;
    --font-weight-light: 300;
    /* Spacing */
    --spacing-xlarge2: 4em;
    --spacing-xlarge: 3em;
    --spacing-large: 2em;
    --spacing-medium: 1em;
    --spacing-small: 0.5em;
}

/*Styles/
/* Global styles */
body {
    background-color: var(--color-grey2);
}

/* Style for the unordered list */
ul {
    list-style-type: none;
    color: var(--color-white);
    font-family: Monaco;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    
}

/* Style for the list items */
ul li {
    margin-bottom: var(--spacing-small);
}

/* Header styles */
h1 {
    font-family: Monaco;
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}

h2 {
    font-family: Monaco;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}

h3 {
    font-family: Monaco;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--color-grey);
}

/* Paragraph styles */
p {
    font-family: Monaco;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-white);
}

/* Classes */
/* Font classes */
.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* Button classes */
.cta {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: var(--border-radius-large);
    padding: var(--spacing-small) var(--spacing-medium);
    font-family: var(--font-family-default);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-black);
    transition: background-color 400ms, color 400ms;
    cursor: pointer;
    touch-action: manipulation;
}

.cta:hover {
    background-color: var(--color-grey);
    color: var(--color-white);
}

.cta:active {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* Input classes */
.textfield {
    border-color: var(--color-white);
    border-style: solid;
    border-width: var(--border-width-small);
    background-color: transparent;
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    font-family: var(--font-family-default);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    max-width: 100%;
    max-height: var(--size-large);
    transition: background-color 400ms, color 400ms;
}

.textfield::placeholder {
    color: var(--color-grey);
}

/* Container classes */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: var(--spacing-xlarge2);
    background-color: var(--color-black);
    border-radius: var(--border-radius-xlarge);
    width: max-content;
    min-width: 100%;
}

.bodyCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.listBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    border-style: solid;
    border-color: var(--color-grey);
    border-width: var(--border-width-xsmall);
    background-color: transparent;
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-small) var(--spacing-medium);
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}

.card.ownCard {
    width: 200px;
    height: 250px;
    background-color: #ffeb3b;
    border: 2px solid #ff9800;
}